<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Activate Your Account</title>
    <style>

    </style>
</head>
<body>
<div class="email-container">
    <!-- Header -->
    <div class="header">
        <h1>Activate Your Account</h1>
    </div>

    <!-- Content -->
    <div class="content">
        <p>Hello, <strong th:text="${username}"></strong>!</p>
        <p>Thank you for signing up X! To complete your registration, please activate your account using the code below. This code is valid for <strong>15 minutes</strong>.</p>
        <p class="activation-code" th:text="${fiveDigitCode}"></p>
        <p>If you did not create an account, please ignore this email. For any assistance, feel free to contact our support team.</p>
        <p>Best regards,<br>The X Team</p>
    </div>

    <!-- Footer -->
    <div class="footer">
        <p>X &copy; 2025. All rights reserved.</p>
        <p><a href="https://www.x.co">Visit our website</a></p>
    </div>
</div>
</body>
</html>
